<%- include('../partials/header') -%>
    <%- include('../partials/navbar') -%>
        <div class="container">
            <div class="row mt-3">
                <div class="md-12">
                    <%- include('../partials/flashMessages') -%>
                </div>
            </div>
            <div class="row mt-3 table_body justify-content-center">
                <% chunk.forEach((matches)=> {%>
                    <ul>
                        <% matches.forEach((match)=> {%>
                            <li>
                                <a href="<%=  '/matches/show/'  + match.id %>">
                                    <div class="col-md-12 d-inline-flex border border-light bg-light p-4 shadow-lg p-5 mb-5 bg-white rounded">
                                        <div class="col-md-2 status">
                                            <span class="badge badge-secondary"><%= match.isActive%></span>
                                        </div>
                                        <div class="col-md-3 text-center homeTeam">
                                            <span>
                                                <%= match.homeTeam%>
                                            </span>
                                        </div>
                                        <div class="col-md-3 text-center duration">
                                            <span class="badge badge-info date">
                                                <%= match.date.toDateString()%>
                                                    </span>
                                            <span class="badge badge-success">
                                                        <%= match.startTime%>
                                                            </span>
                                        </div>
                                        <div class="col-md-3 text-center awayTeam">
                                            <span>
                                                <%= match.awayTeam%>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <%})%>
                    </ul>
                    <%})%>
            </div>

            <div class="row">
                <div class="col-12 mt-2 mb-4">
                    <nav aria-label="...">
                        <ul class="pagination pagination-lg justify-content-center">
                            <% for (let i=1 ; i <= Math.ceil(total/5); i++) {%>

                                <% if (pageNo == i) {%>
                                    <li class="page-item active">
                                        <a class="page-link" href="<%= '/matches/' + i%>">
                                            <%= i%>
                                        </a>
                                    </li>
                                    <%} else { %>
                                        <li class="page-item">
                                            <a class="page-link" href="<%= '/matches/' + i%>">
                                                <%= i%>
                                            </a>
                                        </li>
                                        <%}%>

                                            <%}%>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>


        <%- include('../partials/footer') -%>